{% extends 'base.html' %}
{% block title %}{{ group }}{% endblock title %}
{% load thumbnail %}
{% block content %}
<main> 
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">     
        <h1>{{ group }}</h1>
        <p>
            {{ group.description }}
        </p>
        <article>
            {% for post in page_obj %}
              {% include 'posts/includes/post_list.html' %}  
            {% endfor %} 
            {% include 'posts/includes/paginator.html' %}       
        </article>
      </div>  
    </main>  
{% endblock content %}